@import '../../../scss/variables';

.header {
  font-family: 'Muller';
  font-weight: 500;
  font-style: normal;
  position: absolute;
  z-index: 2;
  top: 48px;
  left:50%;
  transform:translate(-50%, -50%);
}

.header__tel {
  position: absolute;
  top: 13px;
  left: 0;
  width: 27px;
  height: 26px;
}

.header__contacts {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 33px;
  z-index: 10;

  &:hover a {
    color: $color-orange;
  }

  & a {
    font-family: 'Muller';
    font-weight: 500;
    font-style: normal;
    color: #000000;
    text-decoration: none;
    font-size: 21px;
  }
}

.header__container {
  width: 1660px;
  margin: 48px auto 0;
  display: flex;
  justify-content: space-between;
}