$color-black: #000000;
$color-white: #ffffff;
$color-orange: #F9572E;
$color-orange-active: #FF7B59; 
$color-gray: #666666;
$color-green: #33B5A3;
$color-green-white: #63D2C1;

$bg-gray: #F2F2F2; 
$color-gray-footer: #CCCCCC;